<div class="questionDetail">
  <h2>{{question.text}}</h2>
  <h4>Asked By {{question.author}}</h4>
  <p>{{question.notes}}</p>
  <p>{{question.tags}}</p>
  <div class="edit">
    {{edit-question question=question edit="edit"}}
  </div>
  <button {{action 'delete' question}}>Delete Question</button>
</div>
